<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Student Details</h5>
            <p class="card-text">Manage student information and miscellaneous details.</p>
            <a class="btn btn-primary" (click)="goToPath('student-details')">Go to Student Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fee Details</h5>
            <p class="card-text">Manage student fee details and transactions.</p>
            <a routerLink="fee-details" class="btn btn-primary">Go to Fee Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Marks Details</h5>
            <p class="card-text">Manage student marks and academic performance.</p>
            <a routerLink="marks-details" class="btn btn-primary">Go to Marks Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  