.w-70 {
    width: 70px;
}

.container-fluid {
    overflow: scroll;
}

@media (max-width: 600px) {
    .nav-container {
        width: 70px;
    }

    .container-fluid {
        width: 100%;
    }
}