<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DETAILS <i class="fa-solid fa-book"></i></h5>
            <p class="card-text">Manage general details of students</p>
            <div class="row d-flex">
                <div class="child-btn">
                    <a class="btn btn-primary" (click)="goToPath('student-details', action.SECONDARY)">Check Details</a>
                </div>
                <div class="child-btn">
                    <a class="btn btn-success" (click)="goToPath('student-details', action.PRIMARY)">Add Details</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">FEES <i class="fa-solid fa-money-check-dollar"></i></h5>
            <p class="card-text">Manage fee related details</p>
            <div class="row d-flex">
                <div class="child-btn">
                    <a class="btn btn-primary" (click)="goToPath('fee-details', action.SECONDARY)">Check Fee</a>
                </div>
                <div class="child-btn">
                    <a class="btn btn-success" (click)="goToPath('fee-details', action.PRIMARY)">Add Fee</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MARKS <i class="fa-solid fa-calculator"></i></h5>
            <p class="card-text">Manage marks of students</p>
            <div class="row d-flex">
                <div class="child-btn">
                    <a class="btn btn-primary" (click)="goToPath('marks-details', action.SECONDARY)">Check Marks</a>
                </div>
                <div class="child-btn">
                    <a class="btn btn-success" (click)="goToPath('marks-details', action.PRIMARY)">Add Marks</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row d-flex mb-4">
                    <div class="col-lg-7 col-md-12 col-xs-12">
                        <h5 class="card-title">EXPENSE <i class="fa-solid fa-indian-rupee-sign"></i></h5>
                        <p class="card-text">Balance: Rs. {{availableAmount}}</p>
                    </div>
                    <div class="col-lg-5 col-md-12 col-xs-12">
                        <button class="btn btn-warning" (click)="goToPath('manage-expenses', action.TERTIARY)">View Passbook</button>
                    </div>
                </div>
                
                <div class="row d-flex">
                    <div class="child-btn">
                        <a class="btn btn-success expense-btn" (click)="goToPath('manage-expenses', action.PRIMARY)">+</a>
                    </div>
                    <div class="child-btn">
                        <a class="btn btn-danger expense-btn" (click)="goToPath('manage-expenses', action.SECONDARY)">-</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CLASSES <i class="fa-solid fa-calculator"></i></h5>
                <p class="card-text">Manage classes</p>
                <div class="row d-flex">
                    <div class="child-btn">
                        <a class="btn btn-primary" (click)="goToPath('manage-classes')">Manage</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">SUBJECTS <i class="fa-solid fa-calculator"></i></h5>
                <p class="card-text">Manage subjects</p>
                <div class="row d-flex">
                    <div class="child-btn">
                        <a class="btn btn-primary" (click)="goToPath('manage-subjects')">Manage</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  <router-outlet></router-outlet>