<div *ngIf="isDataLoaded">
    <div class="mb-3 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <label>Select Class</label>
        <ng-select [items]="standardsList" bindLabel="name" bindValue="id" [(ngModel)]="classValue"
             placeholder="Select class" (change)="onStandardChange($event)">
        </ng-select>
    </div>
    <div class="app-table-container" *ngIf="isDataFiltered">
        <table class="app-table">
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>Name</th>
                    <th>Roll No</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of filteredStudentsList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ student?.firstName }} {{ student?.lastName }}</td>
                    <td>{{ student?.rollNo }}</td>
                    <td>{{ student?.mobile }}</td>
                    <td>
                        <app-action-select [showEdit]="true" [showDelete]="true" [showView]="true" (action)="handleAction($event, student)"></app-action-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>