.dual-input {
    width: 47%;
    display: inline-block;
}

label {
    display: block;
}

.tc-container {
    border: solid 2px black;
    padding: 10px;
}

h5 {
    padding-top: 40px;
}

.signature {
    font-family: 'Great Vibes', cursive;
}