<h4 class="mt-3">
    <i class="fa-solid fa-circle-right"></i>
    Stats
</h4>
<div class="mt-1" *ngIf="isDataLoaded; else showLoader">
    <div class="admin-card-container row">
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-solid fa-user-graduate stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Students</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Students') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-solid fa-person-chalkboard stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Teachers</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Teachers') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-solid fa-pen-ruler stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Classes</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Classes') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-solid fa-book stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Subjects</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Subjects') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-solid fa-van-shuttle stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Vehicles</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Vehicles') }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" admin-card">
            <div class="row">
                <div class="col-5">
                    <i class="fa-regular fa-file stats-icon"></i>
                </div>
                <div class="col-7 admin-card-data-col">
                    <div class="stats-heading">Pages</div>
                    <div>
                        <div class="stats-data">{{ statsMap.get('Pages') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #showLoader>
    <app-loader-line></app-loader-line>
</ng-template>