.header-container {
    font-size: 1.2em;
    background-color: white;
    text-align: right;
    padding: 15px 30px 15px 0px;
}

.header-user-type {
    color: var(--secondary-light);
    font-size: 0.7em;
    vertical-align: 2px;
}

.logout-btn {
    cursor: pointer;
    margin-left: 10px;
    color: var(--secondary);
    background: var(--secondary-lighter);
    padding: 0px 2px;
    border-radius: 15px;

    &:hover {
        color: var(--primary);
    }
}