
<ng-container *ngIf="actionType === action.TERTIARY">
    <div>Passbook</div>
    <table>
        <thead>
            <tr>
                <th>S. No</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @for (transaction of transactions; track transaction; let i= $index) {
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>   
            }  
        </tbody>
    </table>
</ng-container>

<form [formGroup]="expenseForm" class="container pt-1 pb-3" *ngIf="isLoaded && actionType != action.TERTIARY">
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
            <label>Amount</label>
            <input type="number" placeholder="Enter amount" formControlName="amount" class="form-control" [ngClass]="{ 'invalid-field': isFieldInvalid('amount') }"/>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
            <label>Category</label>
            <input type="text" placeholder="Enter category" formControlName="category" class="form-control"/>
        </div>
        <div class="col-lg-3 col-md-6">
            <label>Date</label>
            <app-date-picker></app-date-picker>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex justify-content-center detail-btn">
            <button class="btn btn-success m-right-5" (click)="onSave()">Save</button>
            <button class="btn btn-danger m-left-5" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>
