<div class="box-container">
    <h4 class="mb-3">
        <i class="fa-solid fa-circle-right"></i>
        Add New Subject
    </h4>
    <form [formGroup]="subjectForm">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 pt-1">
                <label>Subject Name</label>
                <input class="form-control" placeholder="Enter subject name" formControlName="name" type="text" [ngClass]="{ 'invalid-field': isFieldInvalid('name') }" />
            </div>
            <div class="col-xl-8 col-lg-6 col-md-12 pt-1">
                <label>Classes</label>
                <ng-select [items]="standardsList" bindLabel="name" bindValue="id" [multiple]="true"
                     formControlName="standardIds" placeholder="Select classes">
                </ng-select>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex justify-content-center detail-btn">
                <button class="btn btn-success m-right-5" (click)="onSave()">Save</button>
                <button class="btn btn-danger m-left-5" (click)="onReset()">Reset</button>
            </div>
        </div>
    </form>
</div>

<div class="box-container" *ngIf="isDataLoaded">
    <h4 class="mb-3">
        <i class="fa-solid fa-circle-right"></i>
        Subjects
    </h4>
    <div class="app-table-container">
        <table class="app-table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Subject</th>
                    <th>Classes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subject of subjectsList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{subject?.name}}</td>
                    <td>{{ getClasses(subject.standardIds) }}</td>
                    <td>
                        <a appScrollPageToSection class="link-primary" (click)="editSubject(i)">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>