<ng-container *ngIf="isLoaded && !isViewMode">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
            <h4 class="mt-3" (click)="expandSection()">
                <i class="fa-solid fa-circle-plus expand-link" *ngIf="!isExpanded"></i>
                <i class="fa-solid fa-circle-minus expand-link" *ngIf="isExpanded"></i>
                Add New Student
            </h4>        
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12 text-end mt-3 import-btn">
            <input *ngIf="importClicked" type="file" class="import-input" (change)="onImportFileChange($event)">
            <button *ngIf="!importClicked" class="btn btn-primary app-btn app-primary" (click)="importData()" [disabled]="isExpanded">Import</button>
            <button *ngIf="importClicked" class="btn btn-primary app-btn app-primary" (click)="importFile()">Save</button>
        </div>
    </div>
    
    <div class="box-container" *ngIf="isExpanded">
        <form [formGroup]="studentForm">
            <section>
                <div class="mb-1">
                    <i class="fa-solid fa-pen-nib"></i>
                    <h4 class="student-section-heading mx-3">Basic Details</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>First name</label>
                        <input class="form-control" formControlName="firstName" placeholder="Enter first name"
                            [ngClass]="{ 'invalid-field': isFieldInvalid('firstName') }" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Middle name</label>
                        <input class="form-control" formControlName="middleName" placeholder="Enter middle name" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Last name</label>
                        <input class="form-control" formControlName="lastName" placeholder="Enter last name" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Date of Birth</label>
                        <app-date-picker controlName="dob"></app-date-picker>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Gender</label>
                        <ng-select [items]="genders" bindLabel="name" bindValue="value" formControlName="gender"
                            placeholder="Select gender"></ng-select>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Class</label>
                        <ng-select [ngClass]="{ 'invalid-field': isFieldInvalid('standardId') }" [items]="classList"
                            formControlName="standardId" placeholder="Select Class" bindLabel="name"
                            bindValue="id"></ng-select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Roll No</label>
                        <input type="number" formControlName="rollNo" class="form-control"
                            placeholder="Enter roll no" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>U-Dias Code</label>
                        <input type="text" formControlName="uDiasCode" class="form-control"
                            placeholder="Enter U-Dias Code" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Previous School</label>
                        <input type="text" class="form-control" formControlName="previousSchool"
                            placeholder="Enter previous school" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Profile Picture</label>
                        <input type="file" (change)="onFileChange($event)" class="form-control"
                             />
                    </div>
                </div>
            </section>
            <section class="mt-5">
                <div class="mb-2">
                    <i class="fa-solid fa-gear"></i>
                    <h4 class="student-section-heading mx-3">Login Details</h4>
                </div>
                <button class="btn btn-primary app-btn app-primary" *ngIf="!showLoginForm" (click)="showLoginForm = true">Update credentials</button>
                <form class="row" [formGroup]="loginDetailsForm" *ngIf="showLoginForm">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Username</label>
                        <input type="text" class="form-control" formControlName="username"
                        (input)="loginDetailChanged($event, 'password')"
                        [ngClass]="{ 'invalid-field': isFieldInvalid('username', loginDetailsForm) }"
                            placeholder="Enter username for login (Mobile/Email)" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Password</label>
                        <input type="text" class="form-control" formControlName="password" 
                        (input)="loginDetailChanged($event, 'username')"
                        [ngClass]="{ 'invalid-field': isFieldInvalid('password', loginDetailsForm) }"
                        placeholder="Enter password" />
                    </div>
                </form>
            </section>

            <section class="mt-5">
                <div class="mb-2">
                    <i class="fa-solid fa-phone"></i>
                    <h4 class="student-section-heading mx-3">Contact Details</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Mobile</label>
                        <input type="number" class="form-control" formControlName="mobile"
                            placeholder="Enter mobile no" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Enter email id" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Landline</label>
                        <input type="text" class="form-control" formControlName="landline"
                            placeholder="Enter landline phone" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>State</label>
                        <input type="text" class="form-control" formControlName="state" placeholder="Enter state" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>City</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="Enter city" />
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Pincode</label>
                        <input type="text" class="form-control" formControlName="pincode" placeholder="Enter pincode" />
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12">
                        <label>Address</label>
                        <textarea class="form-control" placeholder="Enter address" formControlName="address"></textarea>
                    </div>
                </div>
            </section>
            <section class="mt-5">
                <div class="mb-4">
                    <i class="fa-solid fa-people-roof"></i>
                    <h4 class="student-section-heading mx-3">Parents</h4>
                    <i class="fa-solid fa-user-plus add-parent" (click)="addParent()"></i>
                </div>
                <form [formGroup]="parentForm" *ngIf="showParentForm">
                    <ng-container formArrayName="items">
                        <form class="parent-form" *ngFor="let item of items.controls; let i = index"
                            [formGroupName]="i">
                            <div class="row mt-3">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>First name</label>
                                    <input class="form-control" formControlName="firstName"
                                        placeholder="Enter first name" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>Middle name</label>
                                    <input class="form-control" formControlName="middleName"
                                        placeholder="Enter middle name" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>Last name</label>
                                    <input class="form-control" formControlName="lastName"
                                        placeholder="Enter last name" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>Mobile Number</label>
                                    <input class="form-control" formControlName="mobile"
                                        placeholder="Enter first name" />
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>Gender</label>
                                    <ng-select [items]="genders" bindLabel="name" bindValue="value"
                                        formControlName="gender" placeholder="Select gender"></ng-select>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                                    <label>Relation</label>
                                    <ng-select [items]="relations" bindLabel="name" bindValue="value"
                                        formControlName="relation" placeholder="Select relation"></ng-select>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                </form>
            </section>
            <section class="mt-5">
                <div class="mb-2">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <h4 class="student-section-heading mx-3">Transportation</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <label>Vehicle</label>
                        <ng-select [items]="vehicleList" formControlName="vehicleId" bindLabel="name" bindValue="id"
                            placeholder="Select vehicle">
                        </ng-select>
                    </div>
                </div>
            </section>
            <section class="mt-5">
                <div class="mb-4">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <h4 class="student-section-heading mx-3">Utilities Details</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="uniform" />
                        <label class="box-checkbox-label">Uniform Provided</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="course" />
                        <label class="box-checkbox-label">Course Provided</label>
                    </div>
                </div>
            </section>
            <section class="mt-5">
                <div class="mb-4">
                    <i class="fa-solid fa-file"></i>
                    <h4 class="student-section-heading mx-3">Documents Submission</h4>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docTC" />
                        <label class="box-checkbox-label">TC</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docMarksheet" />
                        <label class="box-checkbox-label">Marksheet</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docAadhar" />
                        <label class="box-checkbox-label">Aadhar</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docParentAadhar" />
                        <label class="box-checkbox-label">Parent Aadhar</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docPhotograph" />
                        <label class="box-checkbox-label">Photograph</label>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 col-12 pt-3">
                        <input type="checkbox" formControlName="docDobCertificate" />
                        <label class="box-checkbox-label">DOB Certificate</label>
                    </div>
                </div>
            </section>
            <div class="row mt-3">
                <div class="d-flex justify-content-center detail-btn">
                    <button appScrollPageToSection class="btn btn-success m-right-5" (click)="onSave()">Save</button>
                    <button class="btn btn-danger m-left-5" (click)="onCancel()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <h4 class="mt-5">
        <i class="fa-solid fa-circle-right"></i>
        Students
    </h4>
    <div class="box-container">
        <app-show-student-details (emitStudentForView)="showStudent($event)"
            (emitStudentForEdit)="onEdit($event)"></app-show-student-details>
    </div>
</ng-container>

<ng-container *ngIf="isViewMode">
    <app-view-student [student]="selectedStudent" (goBackEvent)="this.isViewMode = false"></app-view-student>
</ng-container>


<ng-container *ngIf="!isLoaded">
    <app-loader-line></app-loader-line>
</ng-container>