.student-section-heading {
    display: inline-block;
    color: grey;
    font-size: 22px;
}

.expand-link {
    cursor: pointer;
    margin-right: 5px;
}

h4 {
    .fa-circle-plus {
        color: #ffa701;
    }
    .fa-circle-minus {
        color: #042954 !important;
    }
}

.parent-form {
    box-shadow: 0px 0px 2px 0px;
    padding: 0px 11px 10px;
    border-radius: 5px;
}


.add-parent {
    color: cornflowerblue;
    border: solid 1px black;
    background: white;
    padding: 10px;
    border-radius: 5px;

    &:hover {
        color: blue;
    }
}

.student-details-btn {
    position: sticky;
    bottom: 0;
    z-index: 1002;
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;

    button {
        margin: 0px 10px;
        min-width: 150px;
    }    
}


// media-queries
@media (max-width: 440px) {
    .container{
        font-size: 0.8em;
    }
    
    .student-details-btn button {
        min-width: 100px;
    }
}