.action-row {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: currentColor;
}

.close-btn {
    border: solid 10px white;
    border-radius: 25px;
}

.modal-content-wrapper {
    z-index: 1000;
}