:root {
    --primary: #ffa701;
    --secondary: #042954;
    --secondary-light: #093c76;
    --secondary-lighter: #477cb9;
    --secondary-text: #9ea8b5;
    --bg: #f0f1f3;
    --bg-dark: #a8a8a8;
    --placeholder: #999999;
  }