<div>
    <app-banner></app-banner>
    <div class="app-header" *ngIf="isLoggedIn">
        <app-header></app-header>
    </div>
    <div class="app-container">
        <ng-container *ngIf="showLoader; else showContent">
            <app-loader></app-loader>
        </ng-container>
        <ng-template #showContent>
            <router-outlet></router-outlet>
        </ng-template>
    </div>
    <ng-container *ngIf="isLoggedIn">
        <app-footer [ngClass]="{ 'fixed-footer': showLoader }"></app-footer>
    </ng-container>
</div>