.app-table {
    table-layout: fixed;

    .student-name {
        width: 20%;
       // min-width: 70px ;
    }

    .subject-name {
        width: 10%;
        //min-width: 70px ;
    }

    .student-total {
        //min-width: 70px ;
        width: 8%;
    }

    .student-percent {
       // min-width: 70px ;
        width: 8%;
    }

    input {
        //min-width: 70px ;
        width: 100%;
    }
}