<form class="container" *ngIf="isDataLoaded" [formGroup]="marksForm" (ngSubmit)="saveMarks()">
    <div class="row">
        <label>Select Class</label>
        <ng-select [items]="standardsList" bindLabel="name" bindValue="id"
             formControlName="id" placeholder="Select class">
        </ng-select>
    </div>

    <div class="row mt-3">
        <label>Select Exam</label>
        <ng-select [items]="examsList" bindLabel="name" bindValue="value"
            formControlName="exam" placeholder="Select exam"></ng-select>
    </div>

    <table *ngIf="isDataFiltered">
      <thead>
        <tr>
          <th>Student</th>
          <th *ngFor="let subject of subjectsList">{{ subject.name }}</th>
          <th>Total Marks</th>
        </tr>
      </thead>
      <tbody formArrayName="marksArray">
        <tr *ngFor="let student of studentsList; let i = index">
          <td>{{ studentsList[i]?.firstName }}</td>
          <td *ngFor="let subject of subjectsList; let j = index" [formGroupName]="groupName(i, j)">
            <input type="number" formControlName="marks" />
          </td>
          <td>{{ totalMarks }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Save Marks</button>
    <button type="button" *ngIf="showMarks" class="btn btn-primary" (click)="onShow()">Show Marks</button>
  </form>      