.container {
    background: #ae4dea;
    border-radius:10px;
    box-shadow: 1px 1px 5px 2px !important;
    position: relative; 
    top: 50px;
}


.app-logo-container {
    display: flex;
    justify-content: center;

    .app-logo {
        width: 150px;
        margin-left: 45px;
    }
}


h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-form-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

input {
    z-index: 1;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form-icon {
    font-size: 2em;
    width: 50px;
}

.form-button {
    min-width: 140px;
    height: 45px;
    padding: 4px;
    background: black;
    margin-left: 95px;
}

.student-img {
    width: 225px;
    top: 210px;
    position: absolute;
}

::ng-deep .ng-select {
    width: 250px !important;
    min-height: 35px;
    font-size: 0.9em;
    border-radius: 3px !important;
    .ng-select-container {
        border-radius: 3px;
    }    
}

.form-control {
    border: none;
    border-radius: 3px;
    font-size: 0.9em;
    min-height: 35px;

    min-width: 250px !important;
    width: 250px !important;
}