<h4 class="mt-3">
    <i class="fa-solid fa-circle-right"></i>
    Add New Page
</h4>
<div class="box-container">
    <form [formGroup]="pageForm">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pt-2">
                <label>Author name</label>
                <input class="form-control" placeholder="Enter author name" formControlName="author" type="text"/>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pt-2">
                <label>Title</label>
                <input class="form-control" placeholder="Enter page title" formControlName="title" type="text" [ngClass]="{ 'invalid-field': isFieldInvalid('title') }"/>
            </div>
        </div>
        <div class="mt-3">
            <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor [editor]="editor" formControlName="content" [placeholder]="'Type here...'" [ngClass]="{ 'invalid-field': isFieldInvalid('content') }"></ngx-editor>
            </div>
        </div>
        <div class="row mt-3">
            <div class="d-flex justify-content-center detail-btn">
                <button class="btn btn-success m-right-5" (click)="onSave()">Save</button>
                <button class="btn btn-danger m-left-5" (click)="onReset()">Reset</button>
            </div>
        </div>
    </form>
</div>

<h4 class="mt-5">
    <i class="fa-solid fa-circle-right"></i>
    Pages
</h4>
<div class="box-container">
    <div class="app-table-container" *ngIf="isDataLoaded">
        <table class="app-table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let page of pagesList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{page?.author}}</td>
                    <td>{{ page?.title }}</td>
                    <td>
                        <app-action-select [showDelete]="true" [showEdit]="true" (action)="onAction($event, i, page.id)"></app-action-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>