<h4 class="mt-3">
    <i class="fa-solid fa-circle-right"></i>
    Add New Vehicle
</h4>
<div class="box-container">
    <form [formGroup]="vehicleForm">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pb-2">
                <label>Name</label>
                <input type="text" placeholder="Enter vehicle name" formControlName="name" class="form-control" [ngClass]="{ 'invalid-field': isFieldInvalid('name') }"/>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pb-2">
                <label>Number</label>
                <input type="text" placeholder="Enter vehicle number" formControlName="number" class="form-control" [ngClass]="{ 'invalid-field': isFieldInvalid('number') }"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pb-2">
                <label>Route</label>
                <input type="text" placeholder="Enter vehicle route" formControlName="route" class="form-control"/>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 col-12 pb-2">
                <label>Driver</label>
                <input type="text" placeholder="Enter vehicle driver" formControlName="driver" class="form-control"/>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="d-flex justify-content-center detail-btn">
                <button class="btn btn-success m-right-5" (click)="onSave()">Save</button>
                <button class="btn btn-danger m-left-5" (click)="onReset()">Reset</button>
            </div>
        </div>
    </form>
</div>


<h4 class="mt-5">
    <i class="fa-solid fa-circle-right"></i>
    Vehicles
</h4>
<div class="box-container">
    <div class="app-table-container" *ngIf="isDataLoaded">
        <table class="app-table">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Driver</th>
                    <th>Route</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicleList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{vehicle?.name}}</td>
                    <td>{{vehicle?.number}}</td>
                    <td>{{vehicle?.driver}}</td>
                    <td>{{vehicle?.route}}</td>
                    <td>
                        <app-action-select [showDelete]="true" [showEdit]="true" (action)="onAction($event, i, vehicle.id)"></app-action-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>