<form [formGroup]="feeForm" class="container pt-5 pb-3">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <app-student-select></app-student-select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
            <label>Amount</label>
            <input type="number" placeholder="Enter fee amount" formControlName="amount" class="form-control" [ngClass]="{ 'invalid-field': isFieldInvalid('amount') }"/>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6">
            <label>Month</label>
            <select class="form-control form-select" formControlName="month">
                <option value="">Select Month</option>
                @for (item of monthsList; track item) {
                <option value="{{item.value}}">{{ item.name }}</option>
                }
            </select>
        </div>
        <div class="col-lg-3 col-md-6">
            <label>Date</label>
            <app-date-picker></app-date-picker>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex justify-content-center detail-btn">
            <button class="btn btn-success m-right-5" (click)="onSave()">Save</button>
            <button class="btn btn-danger m-left-5" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>