.expand-link {
    cursor: pointer;
    margin-right: 5px;
}

h4 {
    .fa-circle-plus {
        color: #ffa701;
    }
    .fa-circle-minus {
        color: #042954 !important;
    }
}

.filtered-total {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    min-height: 45px;
    margin-top: 5px;
}

.download-btn {
    margin-right: 5px;
}

.radio-label {
    margin: 0 15px 0 5px;
}

.unique-id-search {
    border: solid 1px lightgray;
}

@media (max-width: 995px) {
    .import-btn {
        text-align: left !important;
        float: left !important;
    }
}