@import './styles/date-picker.scss';
@import './styles/table.scss';
@import './styles/variables.scss';

html,
body {
    height: 100%;
}

body {
    background-color: #f0f1f3;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

.box-container {
    box-shadow: 1px 1px 5px 2px lightgray !important;
    background-color: white;
    margin: 10px 0px 20px;
    padding: 20px;
    border-radius: 5px;

    label {
        color: #646464;
        margin-bottom: 10px;
        font-size: 0.9em;
        white-space: nowrap;
    }

    .box-checkbox-label {
        font-size: 1em !important;
        margin-left: 10px;
    }
    
    .form-control, .ng-select .ng-select-container {
        background-color: var(--bg) !important;
        border: none;
        border-radius: 3px;
        min-height: 40px;
    }

    input::placeholder, textarea::placeholder {
        color: var(--placeholder) !important;
    }

    input[type="checkbox"] {
        height: 18px;
        width: 18px;
    }
}

.separator-icon {
    margin: 0px 5px;
}

.invalid-field {
    box-shadow: 0px 0px 10px 5px red;
}

.detail-btn {
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: none;

    .btn {
        min-width: 150px;
        padding: 15px;
        border-color: white !important;
    }

    .btn-success {
        background: var(--primary) !important;
    }

    .btn-danger {
        background: var(--secondary) !important;
    }
}

@media (max-width: 600px) {
    .detail-btn .btn {
        min-width: 100px;
        padding: 10px;
    }
}

.link-primary {
    color: var(--primary) !important;
    text-decoration-color: var(--primary) !important;
    font-weight: 500;
}

.app-btn {
    border: none !important;
}

.app-primary,.app-success {
    background: var(--primary) !important;
}

.app-danger {
    background: var(--secondary) !important;
}



.m-right-5 {
    margin-right: 5px;
}

.m-left-5 {
    margin-left: 5px;
}

.p-left-20 {
    padding-left: 20px;
}



// .custom-modal {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 5px;
//     border: solid 2px lightgray;
//     border: none;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 9999;
//     height: 8vw;
// }

// @media (max-width: 900px) {
//     .custom-modal {
//         height: 12vw;
//     }
// }

// /* Media query for mobile devices */
// @media (max-width: 768px) {
//     .custom-modal {
//         height: 23vw;
//     }
// }

// TODO: Check
// .modal-overlay {
//     background-color: rgba(0, 0, 0, 0.5); 
//     backdrop-filter: blur(8px); 
//     -webkit-backdrop-filter: blur(8px); /* For Safari */
//     z-index: 999; 
//     filter: blur(8px);
// }