/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.custom-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 36%;
    top: 45%;
    position: absolute !important;
    border-radius: 5px;
    border: solid 2px lightgray;
    z-index: 1000;
    border: none;
}

// TODO: Check
// .modal-overlay {
//     background-color: rgba(0, 0, 0, 0.5); 
//     backdrop-filter: blur(8px); 
//     -webkit-backdrop-filter: blur(8px); /* For Safari */
//     z-index: 999; 
//     filter: blur(8px);
// }