@import './styles/date-picker.scss';
@import './styles/table.scss';

html,
body {
    height: 100%;
}

body {
    background-color: #f0f1f3;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

.box-container {
    box-shadow: 0px 7px 10px 1px !important;
    background-color: white;
    margin: 25px 0px;
    padding: 20px;
    border-radius: 10px;
}

.separator-icon {
    margin: 0px 5px;
}

ng-select, select {
    font-size: 0.9em;
}

label {
    margin-left: 13px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: 0.9em;
    white-space: nowrap;
}

input {
    font-size: 0.9em !important;
}


.invalid-field {
    box-shadow: 0px 0px 5px 2px red;
}

.detail-btn {
    width: fit-content;
    margin: auto;
    background: black;
    padding: 10px;
    border-radius: 10px;

    .btn {
        min-width: 100px;
    }
}

.m-right-5 {
    margin-right: 5px;
}

.m-left-5 {
    margin-left: 5px;
}

.p-left-20 {
    padding-left: 20px;
}



// .custom-modal {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 5px;
//     border: solid 2px lightgray;
//     border: none;
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 9999;
//     height: 8vw;
// }

// @media (max-width: 900px) {
//     .custom-modal {
//         height: 12vw;
//     }
// }

// /* Media query for mobile devices */
// @media (max-width: 768px) {
//     .custom-modal {
//         height: 23vw;
//     }
// }

// TODO: Check
// .modal-overlay {
//     background-color: rgba(0, 0, 0, 0.5); 
//     backdrop-filter: blur(8px); 
//     -webkit-backdrop-filter: blur(8px); /* For Safari */
//     z-index: 999; 
//     filter: blur(8px);
// }