.side-nav-container {
    display: flex;
    flex-direction: column;
    height: calc(100% + 70px);

    font-size: 1.2em;
    background: black;
    color: white;

    div {
        padding: 10px 20px;
        border-bottom: solid 1px black;

        &:hover {
            color: #cd9cf7;
            cursor: pointer;
        }

        span {
            padding-left: 15px;
        }
    }
}

.collapsed {
    width: 70px;

    i:hover :not(.header-nav) {
        color: #cd9cf7;
        cursor: pointer;
    }

    .header-nav {
        padding-left: 5px !important;
    }
}

.selected {
    color: black;
    background: #cd9cf7;

    i:hover, &:hover {
        color: black !important; 
    }
}

.header-nav {
    background: #cd9cf7;
    color: black;
    padding: 15px 15px 9px 10px !important;
    font-size: 1.2em;

    &:hover {
        color: black !important;
    }
}