.side-nav-container {
    display: flex;
    flex-direction: column;
    height: calc(100% + 70px);

    font-size: 1.2em;
    background: var(--secondary);
    color: var(--secondary-text);

    div {
        padding: 10px 20px;
        border-bottom: solid 1px black;

        &:hover {
            color: white;
            cursor: pointer;
        }

        span {
            padding-left: 15px;
            font-size: 15px;
        }
    }
}

i {
    color: var(--primary);
    width: 25px;
}

.selected {
    color: var(--secondary);
    background: var(--primary);

    &:hover, i, i:hover {
        color: var(--secondary) !important;
    }
}

.header-nav {
    background: var(--primary);
    color: white;
    padding: 15px 15px 14px 10px !important;

    span {
        font-size: 20px !important;
        font-weight: 500 !important;
    }

    i {
        color: white !important;
    }
    
}